@font-face { 
	font-family: avenirff; 
	src: url('../fonts/AvenirNext-Regular.ttf'); 
	font-weight: normal;
}
@font-face { 
	font-family: avenirff; 
	src: url('../fonts/AvenirNext-DemiBold.ttf'); 
	font-weight: bold;
}

@font-face { 
	font-family: truenoff; 
	src: url('../fonts/TruenoRg.otf');
}
@font-face { 
	font-family: truenoff; 
	src: url('../fonts/TruenoLt.otf');
	font-weight: 100;
}
@font-face { 
	font-family: truenoff; 
	src: url('../fonts/TruenoSBd.otf');
	font-weight: bold;
}


