.select-style {
    border: 0;
    border: 1px solid $abu3;
    border-radius:5px;
    width: 200px;
    overflow: hidden;
    font-size: 15px;
    padding: 0 5px;
    height: 40px;
    position: relative;
    span {
    	position: absolute;
    	height: 100%;
    	right:0;
    	top: 0;
    	width: 50px;
    	background: $blue3 url(../images/arrow_down2.png) no-repeat center;
    	border-left: 1px solid $abu3;
    }
    select {
	    padding: 10px 10px;
	    width: 100%;
	    border: none;
	    box-shadow: none;
	    background: transparent;
	    background-image: none;
	    -webkit-appearance: none;
	    outline: none;
	    font-family: $font_reg;
	    font-size: 13px;
	}
    &.select-style-date {
        width: calc(100% - 20px);
        input {
            border:0;
        }
        span {
            background: $blue3 url(../images/ico_date.png) no-repeat center;
            background-size: 15px;
        }
    }
    &.select-style-full {
        width: calc(100% - 20px);
    }
}
.form-group {
    text-align: left;
    strong {
        display: block;
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 13px;
    }
    input,
    textarea {
        border: 1px solid $blue2;
        border-radius: 5px;
        padding: 10px;
        width: calc(100% - 10px);
        outline: none;
        font-size: 15px;
        font-family: $font_reg;
        &:focus {
            border-color: $blue;
        }
    }
    input.col2 {
      width: 40%;
      margin: 0;
    }
    .radiobox {
        border:1px solid $blue2;
        padding: 10px;
        border-radius:5px;
        margin-bottom: 5px;
        display: inline-block;
        label {
            float: left;
            margin-right: 20px;
            font-size: 14px;
            input {
                float: left;
                width: auto;
                margin-right: 10px;
            }
        }
    }
    .info {
        font-size: 13px;
        color: #808FA3;
    }
    .btn_add_plus {
        border-radius: 3px;
        height: 25px;
        line-height: 25px;
        display: inline-block;
        font-size: 11px;
        font-weight: bold;
        color: #323C47;
        background: #FFC808;
        padding: 0 10px;
        position: relative;
        margin-left: 20px;
        input {
            display: none;
        }
    }
}
.form-group-col-2 {
    float: left;
    margin-right: 10px;
    width: calc(50% - 10px);
}
.btn_save,
.btn_cancel {
    border:0;
    padding: 10px 15px;
    background:$blue;
    border-radius:3px;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
    &.btn_done {
      background:#EFEFF0;
      color: $black;
    }
}
.btn_cancel {
    background:$abu3;
    color: $black;
}
.notif {
    padding: 5px 10px;
    border:1px solid red;
    font-size:13px;
    color: red;
    margin-bottom: 20px;
    &.notif_green {
        border-color: green;
        color: green;
    }
}
.select_file {
    border-radius: 5px;
    width: 400px;
    border:1px solid #E9EFF4;
    height: 35px;
    line-height: 35px;
    position: relative;
    display: inline-block;
    background:#fff;
    float: left;
    margin-right: 20px;
    overflow: hidden;
    .browse {
        border-left:1px solid #E9EFF4;
        background:$blue3;
        position: absolute;
        height: 35px;
        padding: 0 20px;
        line-height: 35px;
        right: 0;
        top: 0;
    }
    input {
        display: none;
    }
    #muncul {
        padding-left: 20px;
    }
}
.inactive_switch {
    position: absolute;
    right: 20px;
    top: 20px;
    > span,
    > div {
        float: left;
        margin: 0 5px;
    }
    >span {
        font-size: 12px;
        font-weight: bold;
        &.off {
            color: $red;
        }
    }
    >div {
        margin-top: 2px;
    }
}

.flipswitch {
  position: relative;
  width: 35px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}
.flipswitch input[type=checkbox] {
  display: none;
}
.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0px solid #999999;
  border-radius: 50px;
}
.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  -moz-transition: margin 0.3s ease-in 0s;
  -ms-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.flipswitch-inner:before, .flipswitch-inner:after {
  float: left;
  width: 50%;
  height: 13px;
  padding: 0;
  line-height: 13px;
  font-size: 18px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.flipswitch-inner:before {
  content: "";
  padding-left: 12px;
  background-color: #96FFC7;
  color: #FFFFFF;
}
.flipswitch-inner:after {
  content: "";
  padding-right: 12px;
  background-color: #E6E6E6;
  color: #888888;
  text-align: right;
}
.flipswitch-switch {
  width: 19px;
  margin: -3px;
  background: #9B9B9B;
  border: 0px solid #999999;
  border-radius: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0;
  background:#0BC473;
}
.form_1 {
  padding: 10px 40px 30px;
}

.notif_bar {
  color: green;
  font-weight: bold;
  &.notif_bar_fail {
    color: red;
  }
}


