body {
	font-family: truenoff, helvetica, arial;
	font-size: 12px;
	background: #2BC1F6;
	/* Old browsers */
	background: -moz-linear-gradient(left, #2BC1F6 0%, #138EE9 100%);
	background: -webkit-linear-gradient(left, #2BC1F6 0%, #138EE9 100%);
	background: linear-gradient(to 100%, #2BC1F6 0%, #138EE9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
}
.body_front {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	background-size: cover;
	background-repeat: no-repeat;

	.logo {	
		padding: 30px 0px;
		height: 70px;
		width: 100%;
		text-align: center;
		margin-top: 50px;
		top: 0;
		left: 0;
		z-index: 2;
		img {
			height: 100%;
		}
	}
	.text {
		position: absolute;
		height: 30%;
		top:50%;
		color: #fff;
		font-size: 32px;
		font-family: $font_reg;
		text-align: center;
		width: 30%;
		left: 5%;
	}
}
.area {
	text-align: center;
	margin-top: 100px;
}
.box {
	position: relative; 
	background: #fff;
	padding: 0 30px 30px;
	display: inline-block;
	width: calc(40% - 80px);
	margin: 5%;
	@include shadow(10px, 0.3);
	.title {
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffeb00+0,ffd200+100 */
		background: rgb(255,235,0); /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  rgba(255,235,0,1) 0%, rgba(255,210,0,1) 100%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,235,0,1) 0%,rgba(255,210,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center,  rgba(255,235,0,1) 0%,rgba(255,210,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeb00', endColorstr='#ffd200',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		color: #000;
		font-weight: bold;
		padding: 10px 30px;
		font-weight: 20px;
		display: inline-block;
		position: relative;
		margin: 0 auto;
		font-size: 2em;
		margin-top: -30px;
		@include shadow(10px, 0.3);
	}
	.list {
		text-align: left;
		margin-top: 30px;
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			font-size: 2em;
			li {
				padding: 10px 0;
				background-image: url(../images/award_3.png);
				background-size: 30px;
				background-position: 5px 10px;
				background-repeat: no-repeat;
				.name {
					float: left;
					width: calc(40% - 50px);
					font-weight: bold;
					padding-left: 50px;
				}
				.id {
					float: left;
					width: 40%;
				}
				.score {
					float: right;
					width: 20%;
					font-weight: bold;
					text-align: center;
				}
				&:nth-child(1) {
					background-image: url(../images/award_1.png);
				}
				&:nth-child(2) {
					background-image: url(../images/award_2.png);
				}
			}
		}
	}
}

@media screen and (max-width: 650px) {
	body {
		font-size: 12px;
	}
}
@media screen and (max-width: 1200px) {
	body {
		font-size: 10px;
	}
}



