.navbartop {
	height:70px;
	background:#fff;
	border-bottom:1px solid #EAEAEA;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	z-index: 5;
	.logo {
		height: 20px;
		position: absolute;
		left: 50px;
		top: 20px;
		img {
			height: 100%;
		}
	}
	.notif_top {
		width: 30px;
		height: 30px;
		background:$blue;
		border-radius: 5px;
		text-align: center;
		position: relative;
		float: right;
		margin-top: 20px;
		img {
			height: 20px;
			margin-top: 5px;
		}
		.num {
			position: absolute;
			top: -5px;
			right: -5px;
			background:$red;
			color: #fff;
			width: 15px;
			height: 15px;
			line-height: 15px;
			text-align: center;
			font-size: 9px;
			border-radius:100px;
			font-weight: bold;
		}
	}

	.user {
		position: relative;
		float: right;
		top: 20px;
		right: 30px;
		height: 30px;
		margin-left: 50px;
		padding-right: 30px;
		background:url(../images/arrow_down.png);
		background-size: 15px;
		background-repeat:no-repeat;
		background-position: center right;
		line-height: 30px;
		cursor: pointer;

		.box_img {
			width: 30px;
			float: left;
			margin-right: 20px;
		}
		.name {
			float: left;
			font-weight: bold;
			font-size: 14px;
		}
		.user_drop {
			position: absolute;
			right: 0;
			top: 20px;
			padding: 15px 0;
			display: none;
			> div {
				background:#fff;
				padding: 10px;
				border-radius:5px;
				min-width: 150px;
				@include shadow(10px,0.15);
				animation-name: fadeindua;
    			animation-duration: 0.5s;
				a {
					display: block;
					color: $black;
					padding:2px 10px;
					@include transition(0.2s);
					&:hover {
						color: $blue;
					}
				}
			}
		}
		&:hover {
			.user_drop {
				display: block;
			}
		}
	}	
}
header {
	background:#fff;
	border-right:1px solid #EAEAEA;
	position: fixed;
	top:0;
	left:0;
	width:240px;
	height:100%;
	z-index: 6;
	.logo {
		margin-left: 30px;
		height: 50px;
		display: block;
		margin-top: 10px;
		img {
			height: 100%;
		}
	}
	nav {
		margin-top: 70px;
		overflow-y: scroll;
		position: absolute;
		height: calc(100% - 150px);
		width: 100%;	
		padding-bottom: 30px;


		a,
		> div {
			display: block;
			padding: 12px 30px;
			font-weight: bold;
			color: $black;
			position: relative;
			cursor: pointer;
			&.menu_show {
				.menu {
					background-image:url(../images/arrow_down2.png); 
					background-repeat: no-repeat;
					background-size: 10px;
					background-position: center right;
					display: block;
				}
			}
			.ico {
				height: 18px;
				width: 24px;
				text-align: center;
				float: left;
				margin-right: 20px;
				img {
					height: 100%;
					display: inline-block;
				}
			}
			.sign {
				-webkit-border-top-right-radius: 5px;
				-webkit-border-bottom-right-radius: 5px;
				-moz-border-radius-topright: 5px;
				-moz-border-radius-bottomright: 5px;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				position: absolute;
				background:#138EE9;
				width: 5px;
				height: 35px;
				left: 0;
				top: 2px;
				@include shadow_color(10px,19,142,233,1);
				animation-name: fadeindua;
    			animation-duration: 0.5s;
    			display: none;
			}
			.submenu {
				margin-left: 45px;
				margin-top: 10px;
				margin-bottom: 10px;
				display:none;
				a {
					padding: 5px 0;
					@include transition(0.5s);
					&:hover {
						color: $blue;
					}
				}
			}
			&:hover,
			&.selected {
				color: #138EE9;
				.sign {
					display: block;
				}
			}
			&.selected {
				.submenu {
					display: block;
				}
			}
		}
	}
}
#nav2 {
	margin:20px;
	margin-bottom: 0;
	padding: 10px;
	background:#EAEEF4;
	border-radius:5px;
	display: inline-block;
	a {
		border-radius:5px;
		height:30px;
		line-height: 30px;
		color: $abu1;
		padding: 5px 10px;
		float: left;
		margin-right: 10px;
		@include transition(0.5s);
		cursor: pointer;
		font-size: 13px;
		&:hover,
		&.selected {
			background:#fff;
			color: $black;
		}
	}
	.nav3 {
		background: #fff;
		border-radius: 5px;
		padding: 3px;
		position: relative;
		margin-top: -3px;
		a {
			padding: 5px 20px;
		}
		.tambah {
			background: orange;
			color: #fff;
			font-size: 15px;
			font-weight: bold;
			border-radius: 100px;
			width:25px;
			height: 25px;
			padding: 0;
			text-align: center;
			line-height: 25px;
			margin: 7px;
			&:hover {
				background:blue;
			}
		}
	}

}





