.body_pop {
  background:rgba(0,0,0,0.8);
  padding-top: 0;
}
.body_pop2 {
  position:fixed;
  width:100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 15;
   
}
.pop_box {
  position: fixed;
  top:0;
  left:0;
  z-index: 15;
  width: 100%;
  height: 100%;
  text-align:center;
  overflow-y: scroll;
  font-size: 13px;
  iframe {
    width: 100%;
    height: 100%;
    background:none;
  }
}

.pop_bg {
  position: absolute;
  z-index:1;
  text-align:center;
  margin:0 auto;
  width:850px;
  background:#fff;
  height:400px;
  left:calc(50% - 425px);
  top: calc(50% - 200px);
  border:1px solid #fff;

}
.pop_box_content {
  width: 500px;
  display: inline-block;
  background:#fff;
  padding: 20px 30px;
  position: relative;
  z-index:20;
  margin-top: 30px;
  border-radius:5px;
  &.pop_box_content_member {
    width: 800px;
  }
}
.popbox_bg_close {
  position: fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:16;
  background:rgba(0,0,0,0.5);
}

.close_box_out {
  position: fixed;
  height: 15px;
  padding: 15px;
  right: 0;
  top: 0;
  border-radius:100px;
  margin: 30px;
  cursor: pointer;
  z-index: 5;
  &:hover {
    background:red;
  }
}
.offer_cc {
  text-align:center;
  line-height:130%;
  h2 {
    line-height: 110%;
    margin-bottom: 20px;
  }
}
.foto {
  margin: 15px 0;
  img {
    height: 150px;
  }
}


/*s:popup notification*/
.alertify,
.alertify-show,
.alertify-log {
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */ }

.alertify-hide {
  -webkit-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -ms-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  /* easeInBack */ }

.alertify-log-hide {
  -webkit-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -ms-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  /* easeInBack */ }

.alertify-cover {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); }

.alertify-cover-hidden {
  display: none; }

.alertify {
  position: fixed;
  z-index: 99999;
  top: 30%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  opacity: 1; }

.alertify-hidden {
  -webkit-transform: translate(0, -150px);
  -moz-transform: translate(0, -150px);
  -ms-transform: translate(0, -150px);
  -o-transform: translate(0, -150px);
  transform: translate(0, -150px);
  opacity: 0;
  display: none; }

/* overwrite display: none; for everything except IE6-8 */
:root * > .alertify-hidden {
  display: block;
  visibility: hidden; }

.alertify-logs-hidden {
  display: none; }

.alertify-resetFocus {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.alertify-inner {
  text-align: center; }

.alertify {
  width: 400px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 20px; }

.alertify-dialog {
  background: #ffffff;
  padding: 0; }

.alertify-message {
  padding: 30px 10px 10px;
  font-size: 18px;
  color: #3d3d3d;
  font-weight: bold;
  margin: 0; }

.alertify-buttons {
  padding: 10px;
  border-radius: 100px;
  font-weight: bold; }

.alertify-text {
  border: 1px solid #CCC;
  padding: 10px;
  border-radius: 4px; }

.alertify-button {
  color: #000;
  padding: 10px 30px;
  font-size: 12px;
  text-decoration: none;
  outline: none;
  margin-left: 5px;
  background: $blue;
  color: #fff;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer; }

.alertify-button:hover {
  opacity: 0.8; }

.alertify-button-cancel {
  background: $abu3;
  color: $black; 
}

/*e:popup notification*/






