// FONTS
$font_reg: avenirff;

$black:#323C47;
$abu1:#959BA3;
$abu2:#CFCDD0;
$abu3:#c5cbd0;
$blue:#4DA1FF;
$blue2:#c5cbd0;
$blue3:#F9FDFF;
$red:#EB3C3C;
$green:#08FF93;
$green2:#37D084;
$yellow:#FFC808;